<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/components::header">
</head>
<body>
<nav th:replace="fragments/components::navbar"></nav>
<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST" th:object="${productForm}" th:action="@{/newproduct}">

            <h2 class="form-heading text-center">Add a product</h2>

            <div class="form-group">
                <div class="form-floating mb-3">
                    <input id="nameInput"
                           name="name"
                           type="text"
                           class="form-control"
                           placeholder="Name"
                           th:field="*{name}"
                           autofocus="true">
                    <label for="nameInput">Name</label>
                    <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="form-floating mb-3">
                    <input id="quantityInput"
                           name="quantity"
                           type="number"
                           min="0"
                           class="form-control"
                           th:field="*{quantity}"
                           placeholder="Quantity"
                           step="1"
                           onfocus="this.previousValue = this.value"
                           onkeydown="this.previousValue = this.value"
                           oninput="validity.valid || (value = this.previousValue)">
                    <label for="quantityInput">Quantity</label>
                    <span class="has-error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                </div>


            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;"
                        type="submit">
                    Save
                </button>
            </div>

        </form>
    </div>
</div>
</body>
</html>