<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/components::header">
</head>
<body>
<nav th:replace="fragments/components::navbar"></nav>
<table class="table table-hover text-center">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Shop</th>
        <th>Warehouse</th>
    </tr>
    <tr th:if="${userOrderList.isEmpty()}">
        <td class="text-center" colspan="4">No orders found.</td>
    </tr>
    <tr th:each="order: ${userOrderList}">
        <td class="align-middle" th:text="${order.product.name}"></td>
        <td class="align-middle" th:text="${order.wantedQuantity}"></td>
        <td class="align-middle" th:text="${order.product.storeName}"></td>
        <td class="align-middle" th:text="${order.product.warehouseName}"></td>
    </tr>
</table>
</body>
</html>