<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/components::header">
</head>
<body>
<nav th:replace="fragments/components::navbar"></nav>
<div class="d-flex justify-content-center">
  <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
</div>
<table class="table table-hover text-center">
  <tr>
    <th>Product</th>
    <th>Wanted Quantity</th>
    <th>Buyer</th>
    <th>Approve</th>
    <th>Delete</th>
  </tr>
  <tr th:if="${orderList.isEmpty()}">
    <td class="text-center" colspan="5">No orders found.</td>
  </tr>
  <tr th:each="order,iter: ${orderList}">
    <td class="align-middle" th:text="${order.product.name}"></td>
    <td class="align-middle" th:text="${order.wantedQuantity}"></td>
    <td class="align-middle" th:text="${order.seller.name}"></td>
    <td class="align-middle">
      <a class="btn btn-outline-success" th:href="@{'/orders/approve/'+${iter.index}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
      </a>
    </td>
    <td class="align-middle">
      <a class="btn btn-outline-danger" th:href="@{'/orders/delete/'+${iter.index}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-fill-slash" viewBox="0 0 16 16">
          <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
        </svg>
      </a>
    </td>

  </tr>
</table>
</body>
</html>