<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/components::header">
</head>
<body>
<nav th:replace="fragments/components::navbar"></nav>
<div class="d-flex justify-content-center">
<a class="btn btn-outline-primary text-center" th:href="@{/newproduct}">
    <span>Add product</span>
</a>
</div>
<table class="table table-hover text-center">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Edit</th>
    </tr>
    <tr th:if="${productList.isEmpty()}">
        <td class="text-center" colspan="3">No products found.</td>
    </tr>
    <tr th:each="product: ${productList}">
        <td class="align-middle" th:text="${product.name}"></td>
        <td class="align-middle" th:text="${product.quantity}"></td>
        <td class="align-middle">
            <a class="btn btn-outline-warning" id="productIndex" th:href="@{'/products/edit/' + ${product.name}}" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
        </td>
    </tr>
</table>
</div>
</body>
</html>